extends layout

block content
	a(href='/products/add', title='Add New Product') Add New Product
	h2 Product List
	table
		thead
			th Title
			th Description
			th Price
		tbody
			each product, i in products
				tr
					td #{product.title}
					td #{product.description}
					td #{product.price}
					